.Board {
	.Board_title {
		@include openSans($large, $white);
		align-self: flex-start;
		width: $list-width - 14px;
		margin: 0;
		padding: 2px 7px;
		outline: 0;
		border: 0;
		background-color: $blue-6;
		border-radius: $border-radius;
		&:focus {
			background-color: $white !important;
			color: $black !important;
		}
	}
	.Board_info {
		width: 97%;
		margin: 2% auto 0 auto;
		height: auto;
		display: flex;
	}
}