$white: #FFFFFF;

$blue-1: #E4F0F6;
$blue-2: #BCD9EA;
$blue-3: #8BBDD9;
$blue-4: #5BA4CF;
$blue-5: #298FCA;
$blue-6: #0079BF;
$blue-7: #026AA7;
$blue-8: #055A8C;
$blue-9: #094C72;
$blue-10: #0C3953;

$gray-1: #F8F9F9;
$gray-2: #EDEFF0;
$gray-3: #E2E4E6;
$gray-4: #D6DADC;
$gray-5: #CDD2D4;
$gray-6: #C4C9CC;
$gray-7: #B6BBBF;
$gray-8: #A5ACB0;
$gray-9: #959DA1;
$gray-10: #838C91;

$black: #4d4d4d;
