.ListContainer {
	display: block;
	width: 100vw;
	height: 80vh;
	overflow: scroll;
	white-space: nowrap;
	> .current-target {
		background-color: $blue-8 !important;
	}
	.current-target > * {
		visibility: hidden;
	}
}
.List {
	padding-top: 10px;
	width: $list-width;
	background-color: $gray-3;
	border-radius: $border-radius;
	@include openSansBold($medium, $white);
	display: inline-block;
	margin: 0.5% 1.5%;
	vertical-align: top;
	.List_tasks {
		max-height: 70vh;
		overflow-y: scroll;
		margin: 0;
		padding: 0;
	}
	.List_addTask {
		width: $list-item-width;
		padding: 7px (100% - $list-item-width) / 2;
		margin: 0;
		height: auto;
		text-align: left;
		cursor: pointer;
		border-radius: $border-radius;
		@include openSans($small, $gray-9);
		&:hover {
			text-decoration: underline;
			color: $black;
			background-color: $gray-5;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}
	.List_newTaskOptions {
		width: $list-item-width;
		padding: 10px (100% - $list-item-width) / 2;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;
	}
	.current-target {
		background-color: $gray-6 !important;
	}
	.current-target > * {
		visibility: hidden;
	}
}
.CreateList {
	@extend .transition;
	padding: 7px 0;
	width: $list-width;
	background-color: $blue-7;
	border-radius: $border-radius;
	@include openSansBold($medium, $white);
	display: inline-block;
	margin: 0.5% 1.5%;
	vertical-align: top;
	cursor: pointer;
	&:hover {
		background-color: $blue-8;
	}
	.CreateList_title {
		width: $list-item-width;
		padding: 5px;
		min-height: 18px;
		display: block;
		margin: 0 auto;
		@include openSans($medium, $white);
	}
	.CreateList_options {
		width: $list-item-width;
		padding: 10px $text-space;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;
	}
	.CreateList_input {
		width: $list-item-width;
		padding: 5px;
		min-height: 18px;
		display: block;
		margin: 0 auto;
		background-color: $gray-3;
		border-radius: $border-radius;
		color: $black;
		outline: none;
		border: 1px solid $gray-5;
		box-shadow: inset 0 1px 8px rgba(0,0,0,.15);
		&:focus {
			background-color: $gray-3;
		}
		&::-webkit-input-placeholder {
			color: $gray-5;
		}
	}
}

.CreateList-active {
	@extend .transition;
	background-color: $gray-3 !important;
	padding: 10px 0 0 0 !important;
}